.student-detail-card {
  width: 250px;
  height: 400px;
}

.card-img-top {
  width: 100%;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-bottom: 2px solid darkgray;
}

ul {
  margin: 0 !important;
}
